:root {
  /* variables */
  --cg-black: rgb(62, 64, 64);
  --cg-green: rgb(55, 134, 88);
  --cg-darkgreen: rgb(12, 63, 28);
  --cg-grey: rgb(242, 242, 242);
  --cg-moss: rgb(190, 207, 193);
  --cg-darkmoss: rgb(119, 140, 122);
  --cg-white: rgb(255, 255, 255);
}

html {
  height: 100%;
}

body {
  background: var(--cg-moss);
  position: relative;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: monospace;
}

/* CSS for navigation */

.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  height: 7%;
  z-index: 10;

  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  background-color: var(--cg-black);
  color: var(--cg-white);
  padding: 0px 0px;

  /* Debug border */
  /* border: solid red; */
}

.nav-list {
  display: flex;
  flex-direction: row;
  position: relative;
  right: 30px;
  list-style: none;

  /* Debug border */
  /* border: solid blue; */
}

.navbar a {
  color: var(--cg-white);
  font-weight: bold;
  margin: 0 12px;
  border-bottom: 2px solid transparent;
  letter-spacing: 2px;
  font-family: monospace;
  display: inline-block;
  text-decoration: none;

  cursor: pointer;
  transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.navbar a:hover {
  color: var(--cg-green);
  border-bottom: 2px solid var(--cg-green);
  transform: scale(1.1);
}

.navbar a:active {
  color: var(--cg-green);
}

.logo a {
  font-family: Georgia;
  padding-left: 20px;
}

.logo a:hover {
  padding-left: 20px;
  text-decoration: none;
  border-bottom: 2px solid transparent;
}

main {
  padding: 0 20px 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.page-title {
  transform: traslateY(-100px);
  opacity: 0;

  animation: slideInFromTop 0.5s ease-out forwards;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: rgb(56, 54, 54);
}

/* CSS for portfolio grid */

.project {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  margin: 1em 0 2em 0;
  border-radius: 10px;

  cursor: pointer;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

  /* Debug border */
  /* border: 2px solid blue; */
}

.project:hover {
  transform: scale(1.02);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.item-link {
  flex: 7;

  /* Debug border */
  /* border: 2px solid red; */
}

.project-image {
  display: flex;
  width: 100%;
  height: 500px;
  flex-grow: 2;

  /* Debug border */
  /* border: 2px solid black; */
}

.project-details {
  display: flex;
  background-color: var(--cg-white);
  flex: 3;
  height: 500px;
  flex-shrink: 1;
  padding: 0 20px;
  margin: 0px;
  line-height: 1.5;
  overflow: scroll;

  flex-direction: column;
  text-align: center;
  justify-content: center;

  /* Debug border */
  /* border: 2px solid green; */
}

.project-details a {
  color: var(--cg-black);
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 1px;
}

.project-details a:hover {
  color: var(--cg-green);
  text-decoration: underline;
}

.project-details {
  font-weight: lighter;
}

.project-name {
  font-weight: bold;
  font-size: 20px;
}

/* CSS for home page */

.index {
  background: #646464;
}

@keyframes slide-in-left {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  z-index: 0;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
.about-wrapper {
  position: relative;
}

.about-wrapper::after,
.about-wrapper::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% + 8px);
  height: calc(100% + 8px);
  background-image: conic-gradient(
    from var(--angle),
    transparent 50%,
    rgb(152, 243, 165)
  );
  border-radius: 8px;
  transform: translate(-50%, -50%);
  animation: 3s spin linear infinite;
  z-index: -1;
}

.about::before {
  filter: blur(1.5rem);
  opacity: 1;
}
@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

.about-image img {
  max-width: 300px;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.about strong {
  color: var(--cg-darkgreen);
}

.about-text {
  flex: 1;
  margin-left: 20px;
}

.about-text h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.about-text p {
  font-size: 16px;
  line-height: 1.5;
}

/* CSS for Blog page */

.blog {
  background-color: var(--cg-darkmoss);
}

.blog-logo {
  color: white;
}

.blog-image {
  margin-top: 10px;
  width: 100%;
  height: 180px; /* or whatever height your card needs */
  object-fit: cover; /* Ensures image fills the box and crops excess */
  border-radius: 8px;
}

.card-list {
  display: flex;
  padding: 3rem;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 3rem;
  justify-content: center;
}

.card {
  display: flex;
  position: relative;
  flex-direction: column;

  flex: 1 1 200px;
  height: 300px;
  min-width: 150px;
  max-width: 250px;

  padding: 1.5rem;
  border-radius: 16px;
  background: #e2e6e4;
  box-shadow: -1rem 0 3rem #465146;

  transition: transform 0.2s ease;
}

.card:hover {
  transform: translateY(-1rem);
}

.card:hover ~ .card {
  transform: translateX(100px);
}

.card:not(:first-child) {
  margin-left: -130px;
}

/* CSS for resume page */

.button {
  background-color: var(--cg-black);
  border: none;
  color: var(--cg-white);

  font-family: monospace;

  padding: 5px 7px;
  text-align: center;

  border-radius: 2px;

  cursor: pointer;
  transition: background-color 0.2 ease-in-out, transform 0.2s ease-in-out;
}

.button:hover {
  background-color: var(--cg-green);
  transform: scale(1.1);
}

.resume h2 {
  font-family: Georgia;
}

.resume-body {
  background: var(--cg-grey);
  position: relative;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: monospace;
}

.resume-button {
  background-color: rgb(164, 159, 159);
  border: none;
  color: var(--cg-white);

  font-family: monospace;

  padding: 5px 7px;
  text-align: center;

  border-radius: 2px;

  cursor: pointer;
  transition: background-color 0.1s ease-in-out, transform 0.1s ease-in-out;
}

.resume-button:hover {
  background-color: var(--cg-moss);
  transform: scale(1.05);
}

/* CSS for contact form */

label {
  display: block;
  margin-bottom: 8px;
  font-family: Georgia;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  resize: none;
}

/* Add some spacing to the form */
form {
  width: 500px;
  margin: 0 auto;
}

/* CSS for footer */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--cg-black);
  color: var(--cg-white);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}
